# DATABASE_URL="file:./data.db?connection_limit=1"
# DATABASE_URL="mysql://root@localhost:3306/allinone"
DATABASE_URL="postgresql://postgres:password@localhost:5432/allinone"
SESSION_SECRET="5c5f28415957f2d0d2d889206bb12b81"

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=4894e9c685e0b4
MAIL_PASSWORD=4cac3d25d7521d

ADMIN_EMAIL=admin@example.com

JWT_SECRET="5c5f28415957f2d0d2d889206bb12b81"


# MAIL_HOST=smtp.ionos.co.uk
# MAIL_PORT=587
# # EMAIL_USE_TLS=True
# MAIL_USERNAME=service@allinonebusiness.co.uk
# MAIL_PASSWORD=Allinone234@

# MAIL_HOST=smtp.googlemail.com
# MAIL_PORT=465
# # EMAIL_USE_TLS=True
# MAIL_USERNAME=dev.lcp2023@gmail.com
# MAIL_PASSWORD=tffubxpdjvrgccic